.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}


.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#mainLogin {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

#imagenLogin {
  height: 40vh;
  background-color: #53C0FB;
  background: url('../img/login.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  #imagenLogin {
    height: 25vh;
    background-image: url('../img/login.png');
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .jumbotron {
    height: 30vh;
    background-image: url('../img/cover_back.png');
    background-size: cover;
    background-position: left -110px center;
  }
}

@media (max-width: 992) {
  .jumbotron {
    height: 30vh;
    background-image: url('../img/cover_back.png');
    background-size: cover;
    background-position: left -110px center;
  }
}

@media (max-width: 1920px) {
  .jumbotron {
    background-image: url('../img/cover_back.png');
    background-size: cover;
    background-position: left -110px center;
  }
}

#loginContainer {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  flex-grow: 1;
}

.form {
  transition: opacity 0.5s, height 0.5s;
}

.acceso {
  height: auto;
}

.registro {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#productList {
  width: 75%;
  margin: 0 auto;
}

#toggleButtonText {
  padding-left: 5px;
  font-size: 14px;
}

.center-button {
  display: block;
  margin: 0 auto;
  text-align: center;
}

body.modo-noche #imagenLogin {
  color: #fff;
}

body.modo-noche .form-control::placeholder {
  color: #fff;
}

body.modo-noche .form-check-input[type="checkbox"] {
  background-color: #8b8b8b;
}

body.modo-noche #loginContainer {
  background-color: #2C2E30;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);/
}

body.modo-noche .btn-dark {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

body.modo-noche .form-check-label {
  color: #fff;
}

body.modo-noche #switchLoginRegistro:checked+.form-check-label::before {
  background-color: initial;
}

body.modo-noche .form-control {
  background-color: #2C2E30;
  color: #fff;
}

body.modo-noche #imagenLogin {
  height: 40vh;
  background-color: #53C0FB;
  background: url('../img/login_black.png');
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

body.modo-noche .jumbotron {
  background-image: url('../img/cover_back_black.png');
  color: white;
}

body.modo-noche .album {
  background-color: #3B3D3D;
  color: white;
}

body .album {
  background-color: #F8F9FA;
}

.modo-noche .card-body {
  background-color: #212529;
  color: #fff;
}

.modo-noche .site-header a {
  color: #fff;
}

.modo-noche .card {
  background-color: #212529;
  color: #ffffff;
}


body,
body.modo-noche {
  background-color: #fff;
  color: #3B3D3D;
}

body.modo-noche {
  background-color: #3B3D3D;
  color: #fff;
}

input,
select,
textarea {
  background-color: #fff;
  color: #3B3D3D;
  border: 1px solid #ccc;
}

body.modo-noche input,
body.modo-noche select,
body.modo-noche textarea {
  background-color: #2C2E30;
  color: #fff;
  border: 1px solid #555;
}

#file-upload {
  background-color: #fff;
  color: #3B3D3D;
  border: 1px dashed #ccc;
  padding: 10px;
  text-align: center;
}

body.modo-noche #file-upload {
  background-color: #2C2E30;
  color: #fff;
  border: 1px dashed #555;
}

.list-group-item {
  background-color: #fff;
  color: #3B3D3D;
  border: 1px solid #ccc;
}

body.modo-noche .list-group-item {
  background-color: #2C2E30;
  color: #fff;
  border: 1px solid #555;
}

table#comentariosCargados td,
table#comentariosCargados tr {
  color: #3B3D3D;
}

body.modo-noche table#comentariosCargados td {
  color: #fff;
}

body.modo-noche th {
  color: #fff;
}

.btn.btn-light {
  background-color: #fff;
  color: #000;
  border-color: #CED4DA;
}

.btn.btn-light+label {
  background-color: #fff;
  color: #000;
  border-color: #CED4DA;
}

body.modo-noche .btn.btn-light {
  background-color: #2C2E30;
  color: #fff;
  border-color: #555;
}

body.modo-noche .btn.btn-light+label {
  background-color: #2C2E30;
  color: #fff;
  border-color: #555;
}

.btn.btn-light[for="sortByCount"] {
  background-color: #fff;
  color: #000;
  border-color: #2C2E30;
  border-width: 11x;
  border-style: solid;
}

body.modo-noche .btn.btn-light[for="sortByCount"] {
  background-color: #2C2E30;
  color: #fff;
}

body.modo-noche footer {
  background-color: #212529;
}

body.modo-noche #contidionsModal .modal-content {
  background-color: #2C2E30;
  color: #fff;
}

body.modo-noche #contidionsModal .modal-header {
  background-color: #3C4043;
  border-bottom: 1px solid #555;
}

body.modo-noche #contidionsModal .modal-title {
  color: #fff;
}

body.modo-noche #contidionsModal .modal-body {
  background-color: #2C2E30;
}

body.modo-noche #contidionsModal .text-warning,
body.modo-noche #contidionsModal .text-primary,
body.modo-noche #contidionsModal .text-secondary {
  color: #fff;
}

body.modo-noche #contidionsModal .modal-footer {
  background-color: #3C4043;
  border-top: 1px solid #555;
}

body.modo-noche #contidionsModal .btn-primary {
  background-color: #007BFF;
  color: #fff;
}

body.modo-noche #contidionsModal hr {
  background-color: #555;
}

body.modo-noche .dropdown-menu {
  background-color: #2C2E30;
}

body.modo-noche .dropdown-menu a.dropdown-item {
  color: #fff;
}

body.modo-noche .dropdown-menu a.dropdown-item:hover {
  background-color: #383838;
}

body.modo-noche .dropdown-menu .dropdown-divider {
  background-color: #555;
}

td {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.modo-noche td {
  border-bottom: 1px solid rgb(255, 255, 255);
}

tr {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.modo-noche tr {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.custom-btn-color {
  background-color: #2C2E30;
  color: #fff;
  transition: color 0.3s;
}

.custom-btn-color:hover {
  color: #fff;
}

.custom-thumbnail {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.image-container {
  width: 25%;
}

@media (max-width: 576px) {
  .image-container {
    max-width: 100%;
    min-width: 100px;
  }
}

.modo-noche td {
  color: white;
}

.bg-gris {
  background-color: hwb(0 78% 21% / 0.986);
}

body.modo-noche #formadepago .modal-content {
  background-color: #2C2E30;
  color: #fff;
}

body.modo-noche #formadepago label {
  color: #fff;
}

body.modo-noche #formadepago hr {
  border-color: #fff;
}

.container.product p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.is-valid {
  border-color: #28a745; 
}


.is-invalid {
  border-color: #dc3545;
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container img {
  border: 2px solid #ccc;
  padding: 10px;
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}

@media (max-width: 768px) {
  #contenedorImagen {
    margin-right: 100px;
  }
}